<!DOCTYPE html>
<html>
  <head> <title>Heroku </title></head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Getting Started with Node on Heroku</h1>
  </div>
</div>

</body>
</html>
